.titled-pane.pickGroup  > .content > * {
    -fx-padding: 0;
}
.titled-pane.pickGroup > .content {
    -fx-border-color: none;
    -fx-border-insets: 0;
}

.pickPose {
    -fx-padding: 4px;
}
.pickPose .button {
    -fx-padding: 2px;
}
.pickText {
    -fx-padding: 4px;
    -fx-spacing: 4px;
}
.pickText .button {
    -fx-pref-width: 176px;
    -fx-alignment: center-left;
}

TextArea.script {
    -fx-font-family: monospaced;
}

.heading {
    -fx-padding: 10;
    -fx-font-size: 16pt;
}

.form {
    -fx-spacing: 10px;
}

.tab-pane > .tab-header-area > .headers-region > .tab.errors {
    -fx-base : #ffe0e0;
}
.tab-pane > .tab-header-area > .headers-region > .tab.dirty {
    -fx-base : #e0ffe0;
}
.code-error {
    -fx-padding : 4px;
    -fx-text-fill : #aa0000;
}

.quickOpen {
    -fx-spacing : 4px;
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-padding: 4px;
}
.quickOpen .title {
    -fx-font-size: 120%;
}

/** Add an accent color for dock titles, titled-panes and the selected tab of a tab-pane, so they stand out just a little bit */

.root {
    -fx-other-accent: #ebedff;
}

.titled-pane {
    -fx-text-fill: #000;
}
.titled-pane > .title  {
    -fx-base: -fx-other-accent;
}

.dock .tool-bar {
    -fx-base: -fx-other-accent;
}
.dock .tool-bar .label {
    -fx-text-fill: #000;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-base: -fx-other-accent;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected .tab-label {
    -fx-text-fill: #000;
}
