.titled-pane.pickGroup  > .content > * {
    -fx-padding: 0;
}
.titled-pane.pickGroup > .content {
    -fx-border-color: none;
    -fx-border-insets: 0;
}

.pickPose {
    -fx-padding: 4px;
}
.pickPose .button {
    -fx-padding: 2px;
}
.pickText {
    -fx-padding: 4px;
    -fx-spacing: 4px;
}
.pickText .button {
    -fx-pref-width: 176px;
    -fx-alignment: center-left;
}

TextArea.script {
    -fx-font-family: monospaced;
}

.heading {
    -fx-padding: 10;
    -fx-font-size: 16pt;
}

.form {
    -fx-spacing: 10px;
}

.tab-pane > .tab-header-area > .headers-region > .tab.errors {
    -fx-base : #ffe0e0;
}
.tab-pane > .tab-header-area > .headers-region > .tab.dirty {
    -fx-base : #e0ffe0;
}
.code-error {
    -fx-padding : 4px;
    -fx-text-fill : #aa0000;
}
