/.gradle
/.idea
/gradle
/gradlew
/gradlew.bat
/build
/out
/tickle-core/build
/tickle-core/out
/tickle-editor/build
/tickle-editor/out
/tickle-groovy/build
/tickle-groovy/out
/tickle-kotlin/build
/tickle-kotlin/out
/demo/build
/demo/out
/tickle.iml
/tickle.ipr
/tickle.iws
