.borderPane {
    -fx-pref-width: 790px;
}

.scroll {
    -fx-pref-height: 420.0
}

.labelEditRow {
    -fx-spacing: 16px;
}

.gameBox {
    -fx-padding: 6px 6px 24px 6px;
    -fx-spacing: 6px;
}

.newPlayEdit {
    -fx-padding: 12px;
    -fx-spacing: 12px;
}
